<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport" style="background-image: url('assets/wp_1.jpg'); background-size: cover; background-position: center;">  
  <mat-card class="uk-width-1-3@m">
    <div class="uk-flex uk-flex-center">
    <img src="assets/picture/logo.png" style="width:200px;height:200px;"><i></i>
    </div>
      <div class="uk-flex uk-flex-center">
          <h3 style="color:#4f4f4f"><b>LOGIN</b></h3>
      </div>
    <mat-card-content>
      <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Email</mat-label>
          <input matInput placeholder="your email" [(ngModel)]="user.email">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Your password" [(ngModel)]="user.password">
        </mat-form-field>
        <a routerLink="/forgot">Lupa password?</a>
    </mat-card-content>
    <mat-card-content>
        <div>
            <button mat-raised-button style="width: 100%;" color="primary" (click)="login()">LOGIN</button>
        </div>
    </mat-card-content>
    <hr>
    <div class="uk-flex uk-flex-center">
      <!-- <p style="color:#4f4f4f; opacity: 0.4;">-------------------------------------------------------------------------------------------------------------</p> -->
      <p style="color:#4f4f4f; opacity: 40;">tidak mempunyai akun?  </p><a routerLink="/register">&nbsp;Buat akun</a>
    </div>
  </mat-card>
</div>
